.js-headlesswp--hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.js-headlesswp--visible {
  visibility: visible;
  opacity: 1;
}
.toplevel_page_headlesswp-setup-page {
  background: white;
}
.headlesswp-wrap {
  max-width: 960px;
}
.headlesswp-wrap p {
  font-size: 1rem;
}
.headlesswp-wrap h1 {
  margin: 24px 0;
  border-bottom: 1px solid;
}
.headlesswp-wrap h2 {
  margin: 24px 0;
  border-bottom: 1px solid;
  line-height: 1.5;
}
.headlesswp-box {
  margin: 24px 0;
  padding: 24px;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
}

.headlesswp-box h3 {
  margin-top: 0;
}

.headlesswp-setup__success {
  background-image: linear-gradient(
    60deg,
    var(--theme-ui-colors-primary, rgba(137, 25, 248, 0.65)),
    var(--theme-ui-colors-pink, rgba(230, 74, 145, 0.65))
  );
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

.headlesswp-setup__title {
  margin: 0;
  font-size: 20px;
}

.headlesswp-setup__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 0.5rem;
  background-image: linear-gradient(
    60deg,
    var(--theme-ui-colors-primary, rgb(137, 25, 248)),
    var(--theme-ui-colors-pink, rgb(230, 74, 145))
  );
  color: white;
  border-radius: 4px;
  margin-top: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: 0.5s;
}

button:disabled {
  opacity: 0.6;
  cursor: auto;
}

.headlesswp-setup__link--deactivated {
  cursor: default;
  box-shadow: none;
}
.headlesswp-setup__link--deactivated,
.headlesswp-setup__link--deactivated:hover {
  background: transparent;
}

.headlesswp-setup__link--deactivated span {
  opacity: 0;
}

.headlesswp-setup__preloader {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.headlesswp-box .headlesswp-larger {
  font-size: 16px;
}

.headlesswp-setup__list {
  list-style: disc;
}

.headlesswp-setup__list li {
  list-style-position: inside;
  margin-top: 12px;
  padding: 12px;
  background: #e6eef0;
}

.headlesswp-install-container {
  padding: 4px;
}

.headlesswp-install-container-fail {
  background: #f2c7c6;
}

.headlesswp-install-container-success {
  background: #b2eee8;
}

.headlesswp-install-container h4 {
  margin-top: 0;
}

.headlesswp-install-feedback {
  margin: 0;
  font-size: 12px;
}

.headlesswp-setup__footer {
  color: #fff;
  background: #454545;
  font-size: 12px;
}

.headlesswp-setup__footer a,
.headlesswp-setup__footer a:hover {
  color: #cbe2ed;
}

.headlesswp-setup__footer a:hover {
  text-decoration: none;
}

.headlesswp-center {
  text-align: center;
}

.headlesswp-transitioned {
  transition: 0.5s;
}

.headlesswp-demos__items {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 12px;
}

.headlesswp-demos__item {
  padding: 12px;
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0 calc(50% - 36px);
  margin: 0 0 24px;
  min-width: calc(50% - 36px);
  max-width: calc(50% - 36px);
}
.headlesswp-demos__item input {
  position: relative;
  margin-right: 12px;
  z-index: 1;
}
.headlesswp-demos__item label {
  display: block;
  flex: 1;
}
.headlesswp-demos__item label:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px dashed;
}
.headlesswp-demos__item input:checked + label:before {
  border: 1px solid;
  background: rgba(65, 141, 123, 0.14);
}
