.js-headlesswp--hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.js-headlesswp--visible {
  visibility: visible;
  opacity: 1;
}
.toplevel_page_headlesswp-setup-page {
  background: white;
}
.headlesswp-wrap {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 48px);
}
.headlesswp-wrap a {
  color: inherit;
}
.headlesswp-wrap p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
.headlesswp-wrap h1 {
  margin: 24px 0;
  border-bottom: 1px solid;
}
.headlesswp-wrap h2 {
  margin: 24px 0;
  border-bottom: 1px solid;
  line-height: 1.5;
}
.headlesswp-box {
  padding: 24px;
  font-size: 14px;
}

.headlesswp-box h3 {
  margin-top: 0;
}

.headlesswp-setup__success {
  background-image: linear-gradient(
    60deg,
    var(--theme-ui-colors-primary, rgba(137, 25, 248, 0.65)),
    var(--theme-ui-colors-pink, rgba(230, 74, 145, 0.65))
  );
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

.headlesswp-setup__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 0.5rem;
  background-image: linear-gradient(
    60deg,
    var(--theme-ui-colors-primary, rgb(137, 25, 248)),
    var(--theme-ui-colors-pink, rgb(230, 74, 145))
  );
  color: white;
  border-radius: 4px;
  margin-top: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: 0.5s;
}

button:disabled {
  opacity: 0.6;
  cursor: auto;
}

.headlesswp-setup__preloader {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.headlesswp-setup__list {
  list-style: disc;
}

.headlesswp-setup__list li {
  list-style-position: inside;
  margin-top: 12px;
  padding: 12px;
  background: #e6eef0;
}

.headlesswp-install-container {
  padding: 4px;
}

.headlesswp-install-container-fail {
  background: #ffc7e1;
}

.headlesswp-install-container-success {
  background: #dff5ec;
}

.headlesswp-install-feedback {
  margin: 0 0 32px 0;
  font-size: 12px;
}

.headlesswp-wrap footer {
  color: #fff;
  background: #454545;
  font-size: 12px;
  margin-top: auto;
}

.headlesswp-setup__footer a,
.headlesswp-setup__footer a:hover {
  color: #cbe2ed;
}

.headlesswp-setup__footer a:hover {
  text-decoration: none;
}
